.row__posters{
    display: flex;
}

.row__poster{
    /* Esta propiedad mantiene el aspect ratio */
    object-fit: contain;
    width:100%;
    max-height:100px;
    margin-right: 10px;
    transition:transform 250ms;
}

.row__poster:hover{
    transform:scale(1.13);
}